<% unless notice.blank?%> 
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">Matrículas</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Aluno</th>
            <th>Curso</th>
            <th>Data Matrícula</th>

            <th colspan="3"></th>
          </tr>
         </thead>

        <tbody>
          <% @classrooms.each do |classroom| %>
            <tr>
              <td><%= classroom.student.name %></td>
              <td><%= classroom.course.name %></td>
              <td><%= classroom.created_at.strftime("%d/%m/%Y %H:%M")%></td>
              <td align='right'>
                    <%= link_to classroom, class: "btn btn-default btn-sm" do %>
                      <span style="color:green" class="glyphicon glyphicon-list-alt"></span> Exibir
                  <% end %>
                  <%= link_to  edit_classroom_path(classroom), class: "btn btn-default btn-sm" do %>
                    <span style="color:blue" class="glyphicon glyphicon-pencil"></span> Editar
                  <% end %>
                  <%= link_to classroom, method: :delete, data: { confirm: 'Deseja excluir o registro?' }, class: "btn btn-default btn-sm" do %>
                          <span  style="color:red"  class="glyphicon glyphicon-trash"></span> Excluir
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><br>
  </div>
</div>

 <%= link_to new_classroom_path, class: "btn btn-default btn-sm" do %>
      <span style="color:green" class="glyphicon glyphicon-plus"></span> Nova Matrícula
  <% end %>
