<% unless notice.blank?%> 
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">Matrícula</div>
  <div class="panel-body">

<p>
  <strong>Curso:</strong>
  <%= @classroom.course.name %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @classroom.student.name %>
</p>

</div>
</div>

<div class="row mar-bot40">
  <div class="col-lg-8" >
  <div class="btn-group">
      <%= link_to edit_classroom_path(@classroom), :class => "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-pencil"></span> Editar
        <% end %>
      <%= link_to classrooms_path, :class => "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-arrow-left"></span> Voltar
        <% end %>
  </div>
   </div>
</div>