<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>

      <div class="row">
        <div class="col-lg-8" >
          <%= f.label :name %><br>
          <%= f.text_field :name, :class => 'form-control'%>
        </div>
      </div>

    <div class="row">
      <div class="col-lg-8">
        <label>Descrição</label>
        <%= f.text_area :description, :class => 'form-control'%>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-2" >
          <%= f.label :status %><br>
          <%=f.select(:status, Course.statuses.keys.map {|tipo| [tipo.titleize,tipo]}, {include_blank: true}, {:class => 'form-control'})%>
        </div>
      </div>
    </div>
  </div>

  <div class="row mar-bot40">
     <div class="col-lg-8" >
        <div class="btn-group">
          <button type="submit" value="Submit" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
          </button>
          <%= link_to courses_path, :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-arrow-left"></span> Voltar
          <% end %>
      </div>
    </div>
  </div>
<% end %>
